- if adjustments.sum(&:amount) != 0
  %tr.adjustment
    %td{:align => "right", :colspan => "4"}
      %h5.has-text-right
        = type
        \: #{label}
    %td
      %h5.has-text-right= Spree::Money.new(adjustments.sum(&:amount), currency: @order.currency)
    %td
