// bulma
@import "bulma/bulma";

// fontawesome
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

// opinionated defaults
#body {
  min-height: calc(100vh - #{$navbar-height});
}

#body > section {
  min-height: calc(80vh - #{$navbar-height});
}

#footer {
  min-height: 20vh;
}

#main-image {
  text-align: center;
}

#thumbnails {
  margin-bottom: 1rem;

  ul#product-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin-left: 0.75rem;
      margin-right: 0.75rem;

      border: 2px solid $black;

      a {
        display: block;
      }

      img {
        display: block;
        padding: 0.25rem;
      }
    }
  }
}

.product {
  text-align: center;
  margin-bottom: 2.5rem;

  .product-image {
    a {
      display: block;
    }

    img {
      padding: 1.5rem 2.5rem;
    }

    transition: {
      property: transform;
      delay: 0.1s;
      duration: 0.3s;
      timing-function: ease-in-out;
    }

    // return to normal
    transform: scale3d(1.0, 1.0, 1.0);

    // grow image on hover
    &:hover {
      transform: scale3d(1.2, 1.2, 1.0);
    }
  }

  .price, .product-name {
    font: {
      weight: 500;
      size: 1.25rem;
    }
  }
}

h6 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
