// bulma
@import "bulma/bulma";

// fontawesome
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

// opinionated defaults
#body {
  min-height: calc(100vh - #{$navbar-height});
}

#body > section {
  min-height: calc(80vh - #{$navbar-height});
}

#footer {
  min-height: 20vh;
}

#main-image {
  text-align: center;
}

#thumbnails {
  margin-bottom: 1rem;

  ul#product-thumbnails {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin-left: 0.75rem;
      margin-right: 0.75rem;

      border: 2px solid $black;

      a {
        display: block;
      }

      img {
        display: block;
        padding: 0.25rem;
      }
    }
  }
}

.product {
  text-align: center;
  margin-bottom: 2.5rem;

  .product-image {
    a {
      display: block;
    }

    img {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      width: 100%;
      height: auto;
    }

    transition-property: transform;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    transform: scale3d(1.0, 1.0, 1.0);

    &:hover {
      transform: scale3d(1.2, 1.2, 1.0);
    }
  }

  .price {
    font-weight: bold;
    font-size: 1.25rem;
    text-shadow: rgba(darken($dark, 1.5%),0.15) 1px 1px;
  }

  .product-name {
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: rgba(darken($primary, 7.5%),0.75) 1px 1px;
  }
}

h6 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
