// bulma
@import "bulma/bulma";

// fontawesome
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/solid";

// opinionated defaults
#body {
  min-height: calc(100vh - #{$navbar-height});
}

#body > section {
  min-height: calc(80vh - #{$navbar-height});
}

#footer {
  min-height: 20vh;
}

@import "products";

h6 {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

@import "checkout";
