%header#header
  %nav#top-nav-bar.navbar.is-primary{role: 'navigation', "aria-label": 'main navigation'}
    .container
      #logo.navbar-brand
        = link_to spree.root_path, class: 'navbar-item' do
          = image_tag 'solidus-template-logo.svg', width: 112, height: 28

      .navbar-menu
        .navbar-end#main-nav-bar
          = render partial: 'spree/shared/main_nav_bar' if store_menu?
          = render partial: 'spree/shared/nav_bar'
