- if spree_current_user
  = link_to spree.account_path, class: 'navbar-item' do
    %i.fas.fa-user
    &nbsp;
    My Account

  = link_to spree.logout_path, class: 'navbar-item', method: :delete do
    %i.fas.fa-sign-out-alt
    &nbsp;
    Sign Out

- else
  = link_to spree.login_path, id: "link-to-login", class: 'navbar-item' do
    %i.fas.fa-sign-in-alt
    &nbsp;
    Sign In
